@model MAP.Presentation.Models.MeetingVM

@{
    Layout = "~/Views/Shared/Head.cshtml";
}


<!DOCTYPE html>



               
                <div class="span9">
                    <div class="content">
                        <div class="module">
                            @using (Html.BeginForm())
            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <Center><h1>Schedual a new meeting</h1></Center>
                                    <hr />
                                    <div class="alert alert-success">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <strong>Fill the form with the necassary informations :)</strong>
                                    </div>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10" style="margin-left:180px;">
                                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10" style="margin-left:180px;">
                                            @Html.TextAreaFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10" style="margin-left:180px;">
                                            @Html.DropDownList("ProjectId", (SelectList)ViewData["ListProjects"], "Please select a project")
                                            @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10" style="margin-left:180px;">
                                            @Html.TextAreaFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                   
                                    
                                    <br />
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <center><input type="submit" value="Create" class="btn btn-default" /></center>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div><!--/.content-->
                </div><!--/.span9-->
           