@model IEnumerable<MAP.Presentation.Models.MeetingVM>
@{
    Layout = "~/Views/Shared/LayoutTeamLeader.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  

    <div class="span9">
        <div class="content">

            <div class="module">
                <div class="module-head">
                    <h3>Meetings List</h3>
                    <p class="align-right"><button class="add-on"></button></p>
                </div>
                <div class="module-body">


                    @using (Html.BeginForm())
                    {


                        <table>
                            <tr>
                                <td>
                                    <div>
                                        Search by Name: @Html.TextBox("searchString")
                                    </div>
                                </td>
                                <td>
                                    <div>
                                    </div>
                                </td>
                                <td>
                                    <input type="submit" value="Search" id="submit" />

                                </td>
                                <td></td>
                            </tr>
                        </table>
                    }
                    <table class="table">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProjectName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Details)
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ProjectName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Details)</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.MeetingId }) |
                                        
                                        @Html.ActionLink("Delete", "Delete", new { id = item.MeetingId })
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>

                    <br />
                    <!-- <hr /> -->
                    <br />



</body>
</html>
