@model MAP.Presentation.Models.ChangePasswordViewModel
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from htmlstream.com/preview/unify-v2.6/unify-main/home/home-discover.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Oct 2018 16:00:25 GMT -->
<head>
    <!-- Title -->
    <title>MAP SYNERGY</title>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://htmlstream.com/preview/unify-v2.6/favicon.ico">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../assets/Front/vendor/bootstrap/bootstrap.min.css">
    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="../../assets/Front/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/Front/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../assets/Front/vendor/icon-etlinefont/style.css">
    <link rel="stylesheet" href="../../assets/Front/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="../../assets/Front/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="../../assets/Front/vendor/animate.css">
    <link rel="stylesheet" href="../../assets/Front/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="../../assets/Front/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="../../assets/Front/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="../../assets/Front/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="../../assets/Front/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="../../assets/Front/vendor/hamburgers/hamburgers.min.css">
    <!-- CSS Unify -->
    <link rel="stylesheet" href="../../assets/Front/css/unify-core.css">
    <link rel="stylesheet" href="../../assets/Front/css/unify-components.css">
    <link rel="stylesheet" href="../../assets/Front/css/unify-globals.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="../../assets/Front/css/custom.css">
    <style>
        .box_list {
            background-color: #fff;
            display: block;
            position: relative;
            margin-bottom: 30px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <main>

        <!-- Header -->
        @Html.Partial("TopFront")



        @{
            ViewBag.Title = "Change Password";
        }


<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}