@model IEnumerable<MAP.Presentation.Models.ProjectVM>

@{
    Layout = "~/Views/Shared/LayoutTeamLeader.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")|

    </p>

   

    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>
                    <div>
                        Search by Name: @Html.TextBox("searchString")
                    </div>
                </td>
                <td>
                    <input type="submit" value="Search" id="submit" />
                </td>
            </tr>
        </table>
    }



    <div class="span9">
        <div class="content">

            <div class="module">
                <div class="module-head">
                    <h3>Project List</h3>
                    <p class="align-right"><button class="add-on"></button></p>
                </div>
                <div class="module-body">

                    <table class="table">
                        <thead>
                            <tr>

                               
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OutDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageUrl)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                               


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                   
                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OutDate)</td>
                                    <td>
                                        @{
                                            string path = "~/Content/Upload/" + @item.ImageUrl;
                                        }
                                        <img src="@Url.Content(path)" width="50" height="50" />
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        @Html.ActionLink("pdf", "pdf", new { /* id = Model.PrimaryKey */ })|
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |


                                        @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId }) |

                                        <a href="/tasks/Index?Projectid=@item.ProjectId">
                                            Show tasks
                                        </a>|
                                        <a href="/Document/DocumentByProject?Projectid=@item.ProjectId">
                                            Document
                                        </a>|
                                        <a href="/tasks/AfficherSuggestion?Projectid=@item.ProjectId">
                                            Show suggested tasks
                                        </a>|
                                        <a href="/tasks/BarChart?userId=@item.Id&projectId=@item.ProjectId">
                                            Show chart of tasks
                                        </a>


                                    </td>


                                </tr>
                            }


                        </tbody>
                    </table>

                    <br />
                    <!-- <hr /> -->
                    <br />



</body>
</html>