@model MAP.Presentation.Models.DocumentVM


@{ string path = "~/Content/Upload/" + Model.ImageUrl;}
<div>
    <h4>DocumentVM</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @if (Model.Extension == ".pdf")
            {
                <img src="~/Content/Upload/pdf.png" width="50" height="50" />
            }
            else if (Model.Extension == ".docx")
            {
                <img src="~/Content/Upload/docx.png" width="50" height="50" />
            }
            else
            {
                <img src="@Url.Content("~/Content/Upload/" + Model.ImageUrl)" width="50" height="50" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.DocumentId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
